
@import '../App.scss';
.navbar{
    width:100%;
  
    .col{
        min-height: 15vh;
        display: flex;
        justify-content:flex-start;
        align-items:center;

    }
    .end{
      
        justify-content:flex-end ;
    }
    span{
font-size: 16px;
color: $darkgrey;
        font-weight: 700;
        font-family: $public-sans;
        padding: 10px 20px;
        margin: 0 5px;
    }
}

@media screen and (max-width:718px){
    .container{
        width: 95% !important;
    }
    .navbar .col{
        align-items: center;
        justify-content:center;
        min-height: auto !important;
      padding: 15px 0;
    }
  .hide{
      display: none !important;
  }
  .end{
      justify-content:center !important;
      align-items:center !important; 
  }
}