* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #EDF3F8;
  width: 100%;
  position: relative;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
  max-width: 100% !important;
}

.cta-btn {
  padding: 15px 20px;
  border-radius: 30px;
  background-color: #ba4270;
  color: width;
  color: white;
  font-size: 16px;
  border: none;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
}

.container {
  width: 75% !important;
  margin: 0 auto;
}

.priceing {
  width: 100%;
  min-height: 100vh;
}

.priceing h1 {
  width: 100%;
  padding: 0 10px;
  color: #36536B;
  font-family: "DM Serif Display", "Trebuchet MS", sans-serif;
  font-size: 48px;
  margin: 5vh auto;
  margin-top: 25px;
}

.priceing h4 {
  width: 90%;
  color: #ba4270;
  font-size: 40px;
  margin: 25px 0;
  font-family: "DM Serif Display", "Trebuchet MS", sans-serif;
}

.priceing .price-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.priceing .price-card #txt-p {
  width: 90%;
  font-size: 16px;
  line-height: 150%;
  font-weight: 300;
  color: #0f0d10;
}

.priceing .price-card .number {
  font-size: 64px;
  font-family: "DM Serif Display", "Trebuchet MS", sans-serif;
  color: #36536B;
  margin: 25px 0;
  padding-bottom: 20px;
}

.priceing .price-card .txt {
  width: 90%;
  padding-bottom: 25px;
  border-bottom: 1px solid #918597;
  margin-bottom: 25px;
}

.priceing .price-card .para {
  width: 75%;
  font-size: 16px;
  padding: 10px;
  color: #918597;
  font-weight: 300;
  margin: 0 auto;
}

.priceing .price-card .line {
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-bottom: 1px solid #36536B;
}

.priceing .price-card #chk::before {
  width: 18px;
  background-image: url("./assets/icon-check.svg");
  content: '';
  position: absolute;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: -10%;
}

.priceing .price-card #chk {
  color: #0f0d10;
}

.priceing .price-card h5 {
  color: #36536B;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #36536B;
}

.priceing .price-card h5:hover {
  text-decoration: none !important;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background-color: #36536B;
  color: white;
}

.priceing .price-card a {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  text-decoration: none !important;
}

@media screen and (max-width: 718px) {
  .priceing .container {
    width: 95% !important;
  }
}
